services:
  mysql:
    image: mysql:8.0
    container_name: bidapp_mysql_dev
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - '${DATABASE_PORT:-3306}:3306'
    volumes:
      - mysql_data_dev:/var/lib/mysql
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: bidapp_redis_dev
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - '${REDIS_PORT:-6379}:6379'
    volumes:
      - redis_data_dev:/data
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bidapp_server
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/dist
    ports:
      - '${PORT:-3000}:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: development
      DATABASE_HOST: mysql
      REDIS_HOST: redis

    depends_on:
      - mysql
      - redis
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bidapp_pma
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 64M
    ports:
      - '8081:80'
    depends_on:
      - mysql
    networks:
      - app-network

volumes:
  mysql_data_dev:
  redis_data_dev:

networks:
  app-network:
    driver: bridge
