<ng-container *transloco="let t">
    <div class="reset-card__header">
        <h1 class="reset-card__title">{{ t('AUTH.RESET_PASSWORD.TITLE') }}</h1>
        <p class="reset-card__subtitle">
            @if (token()) {
                {{ t('AUTH.RESET_PASSWORD.SUBTITLE') }}
            } @else {
                {{ t('AUTH.RESET_PASSWORD.SUBTITLE_NO_TOKEN') }}
            }
        </p>
    </div>

    @if (token()) {
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reset-card__form" novalidate>
            <app-input formControlName="password" type="password" [label]="t('AUTH.RESET_PASSWORD.PASSWORD')"
                [reserveHelperSpace]="true" [placeholder]="t('AUTH.RESET_PASSWORD.PASSWORD_PLACEHOLDER')"
                autocomplete="new-password" name="password"
                [error]="passwordErrorKey ? t(passwordErrorKey) : ''" />

            <app-input formControlName="passwordRepeat" type="password"
                [label]="t('AUTH.RESET_PASSWORD.PASSWORD_REPEAT')"
                [placeholder]="t('AUTH.RESET_PASSWORD.PASSWORD_REPEAT_PLACEHOLDER')" autocomplete="new-password"
                name="passwordRepeat" [error]="passwordRepeatErrorKey ? t(passwordRepeatErrorKey) : ''" />

            <app-button type="submit" [loading]="isLoading()" [fullWidth]="true" size="md" [variant]="'primary'">
                {{ t('AUTH.RESET_PASSWORD.SUBMIT') }}
            </app-button>
        </form>
    } @else {
        <app-button type="button" [fullWidth]="true" size="md" [variant]="'primary'" (clicked)="requestNewLink()">
            {{ t('AUTH.RESET_PASSWORD.REQUEST_NEW_LINK') }}
        </app-button>
    }

    <p class="reset-card__footer">
        <a routerLink="/auth/login" class="reset-card__footer-link">
            {{ t('AUTH.RESET_PASSWORD.BACK_TO_LOGIN') }}
        </a>
    </p>
</ng-container>
